<!doctype html>
<html lang="zh-CN">
<head>
    <include file="include/head" title="微商中心" />
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		微商中心
		<span class="left">
			<a href="{:U('Index/index')}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
		</span>
	</div>
	<div class="ucenter-main">
		<div class="uc-header">
			<table>
				<tr>
					<td>
						<img src="{$user.headimg}" class="headimg" />
						<div class="level"><if condition="$user['sex'] gt 1">♀<else/>♂</if>{$_CFG['level'][$user['level']]['name']}</div>
					</td>
					<td valign="top">
						<div class="nickname">{$user.nickname}</div>
						<div class="username">关注编码：{$_CFG.site.prefix}{$user.id}</div>
						<div class="parent">{$_CFG.dist.parent_name}：{$parent_name}</div>
					</td>
				</tr>
			</table>
			<div class="bar">
				<ul>
					<li><a href="{:U('log')}">余额：{$user.money|default=0}</a></li>
					<li><a href="{:U('separate')}">分成：{$separate|default=0}</a></li>
					<li><a href="{:U('log?type=points')}">{$_CFG.site.points_name}：{$user.points|default=0}</a></li>
				</ul>
			</div>
		</div>
		
		<notempty name="notice">
		<div class="uc-notice">
			<a href="{:U('Index/notice_detail?id='.$notice['id'])}"><span class="edage"><span class=" glyphicon glyphicon-volume-up">公告</span></span> {$notice.title}</a>
		</div>
		</notempty>
		
		<if condition="$_CFG['level'][$user['level']]['dist'] gt 0">
		<div class="uc-list">
			<ul>
				<li>
					<a href="{:U('Index/my_agent')}">
						<span class="glyphicon glyphicon-transfer left" aria-hidden="true" style="background:#9ed365;"></span>
						我的下级
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="{:U('Index/separate')}">
						<span class="glyphicon glyphicon-transfer left" aria-hidden="true" style="background:#9ed365;"></span>
						我的分成
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="{:U('Index/qrcode')}">
						<span class="glyphicon glyphicon-qrcode left" aria-hidden="true" style="background:#3670BE;"></span>
						推广二维码
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
		</if>
		
		<div class="uc-list">
			<ul>
				<li>
					<a href="{:U('Index/rank')}">
						<span class="glyphicon glyphicon-list left" aria-hidden="true" style="background:#9ed365;"></span>
						{$_CFG.site.rank_name}
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="{:U('Index/order_list')}">
						<span class="glyphicon glyphicon-list-alt left" aria-hidden="true" style="background:#88abe4;"></span>
						订单管理
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<if condition="$_CFG['level'][$user['level']]['deposit'] gt 0">
				<li>
					<a href="{:U('Index/deposit')}">
						<span class="glyphicon glyphicon-retweet left" aria-hidden="true" style="background:#7688A0;"></span>
						余额转让
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				</if>
				<li>
					<a href="{:U('Index/charge')}">
						<span class="glyphicon glyphicon-briefcase left" aria-hidden="true" style="background:#56DF6C;"></span>
						在线充值
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<if condition="$_CFG['level'][$user['level']]['withdraw'] gt 0">
				<li>
					<a href="{:U('withdraw')}">
						<span class="glyphicon glyphicon-import left" aria-hidden="true" style="background:#E55460;"></span>
						提现管理
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				</if>
				<li>
					<a href="{:U('Index/bankcard')}">
						<span class="glyphicon glyphicon-credit-card left" aria-hidden="true" style="background:#3670BE;"></span>
						银行卡管理
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="uc-list">
			<ul>
				<li>
					<a href="{:U('Index/sync_profile')}">
						<span class="glyphicon glyphicon-transfer left" aria-hidden="true" style="background:#9ed365;"></span>
						同步微信资料
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="{:U('Index/profile')}">
						<span class="glyphicon glyphicon-user left" aria-hidden="true" style="background:#64cbad;"></span>
						个人资料
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="{:U('Index/addr')}">
						<span class="glyphicon glyphicon-tag left" aria-hidden="true" style="background:#f76a6a;"></span>
						地址管理
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<include file="include/bottom" />

</body>
</html>