<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <title></title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	
	<link href="__PUBLIC__/css/store.css?ef" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		商城首页
		<span class="left">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
		<span class="right">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="all-sort-blank"></div>
	<div class="all-sort">
		<ul>
			<li class="active"><a href="">默认</a></li>
			<li><a href="">价格<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
			<li><a href="">销量<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
		</ul>
	</div>
	
	<div class="all-main">
		<div class="all-msg">
			找到相关商品14件
		</div>
		<div class="all-item">
			<a href="">
				<img src="__PUBLIC__/images/product-test.jpg" class="product" />
				<div class="title">奇妙女神淘宝（2盒）</div>
				<div class="price">￥398.00</div>
			</a>
		</div>
		<div class="all-item">
			<a href="">
				<img src="__PUBLIC__/images/product-test.jpg" class="product" />
				<div class="title">奇妙女神淘宝（2盒）</div>
				<div class="price">￥398.00</div>
			</a>
		</div>
		<div class="all-item">
			<a href="">
				<img src="__PUBLIC__/images/product-test.jpg" class="product" />
				<div class="title">奇妙女神淘宝（2盒）</div>
				<div class="price">￥398.00</div>
			</a>
		</div>
		<div class="all-item">
			<a href="">
				<img src="__PUBLIC__/images/product-test.jpg" class="product" />
				<div class="title">奇妙女神淘宝（2盒）</div>
				<div class="price">￥398.00</div>
			</a>
		</div>
		<div class="all-item">
			<a href="">
				<img src="__PUBLIC__/images/product-test.jpg" class="product" />
				<div class="title">奇妙女神淘宝（2盒）</div>
				<div class="price">￥398.00</div>
			</a>
		</div>
	</div>
	
	<div class="footer-blank"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
		</ul>
	</div>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>