<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <title></title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	
	<link href="__PUBLIC__/css/store.css?sqd" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		商城首页
		<span class="left">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
		<span class="right">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="cart-main">
		<div class="cart-addr">
			<a href="">
				<table>
					<tr>
						<td valign="top" width="50"><b>运至</b></td>
						<td align="left">
							江西省九江市修水县路口乡黄桥村三组<br/>龙哥哥 13800138000
						</td>
						<td valign="middle"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
					</tr>
				</table>
			</a>
		</div>
		
		<div class="cart-product-title">
			<span class="right">
				<a href="">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					编辑购物车
				</a>
			</span>
			订单信息
		</div>
		<div class="cart-item">
			<img src="__PUBLIC__/images/product-test.jpg" class="product" />
			<div class="title">太子奶测试大礼包</div>
			<div class="price">￥388</div>
			<div class="nums">数量：1</div>
		</div>
		<div class="cart-item">
			<img src="__PUBLIC__/images/product-test.jpg" class="product" />
			<div class="title">太子奶测试大礼包</div>
			<div class="price">￥388</div>
			<div class="nums">数量：1</div>
		</div>
		<div class="cart-item">
			<img src="__PUBLIC__/images/product-test.jpg" class="product" />
			<div class="title">太子奶测试大礼包</div>
			<div class="price">￥388</div>
			<div class="nums">数量：1</div>
		</div>
		
		<div class="cart-msg">
			客户留言<br/>
			<textarea name="msg"></textarea>
		</div>
	</div>
	
	<div class="cart-checkout-blank"></div>
	<div class="cart-checkout">
		总计：<span class="red">￥1399.00</span>
		<div class="checkout-btn">
			<a href="">结算</a>
		</div>
	</div>
	
	<div class="footer-blank"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
		</ul>
	</div>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>