<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <title></title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	
	<link href="__PUBLIC__/css/store.css?ass" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		商城首页
		<span class="left">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
		<span class="right">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="cartedit-main">
		<div class="cartedit-item">
			<table>
				<tr>
					<td><input type="checkbox" value="1" /></td>
					<td><img src="__PUBLIC__/images/product-test.jpg" class="product" /></td>
					<td>
						<div class="title">太子奶测试大礼包</div>
						<div class="price">￥388</div>
						<div class="nums">
							<a href="" class="down">-</a>
							<input type="text" name="nums" value="1" />
							<a href="" class="up">+</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="cartedit-item">
			<table>
				<tr>
					<td><input type="checkbox" value="1" /></td>
					<td><img src="__PUBLIC__/images/product-test.jpg" class="product" /></td>
					<td>
						<div class="title">太子奶测试大礼包</div>
						<div class="price">￥388</div>
						<div class="nums">
							<a href="" class="down">-</a>
							<input type="text" name="nums" value="1" />
							<a href="" class="up">+</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	
	<div class="cart-checkout-blank"></div>
	<div class="cart-checkout">
		总计：<span class="red">￥1399.00</span>
		<div class="checkout-btn">
			<a href="">结算</a>
		</div>
	</div>
	
	<div class="footer-blank"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
		</ul>
	</div>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>