<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <title>我的订单</title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	
	<link href="__PUBLIC__/css/store.css?blcldddsd" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>

<body style="background:#f2f2f2;">
	<div class="header-blank"></div>
    <div class="header">
		商城首页
		<span class="left">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
		<span class="right">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="orderlist-tab-blank"></div>
	<div class="orderlist-tab">
		<ul>
			<li class="active"><a href="">近一个月的订单</a></li>
			<li><a href="">一个月前的订单</a></li>
		</ul>
	</div>
	<div class="orderlist-main">
		<div class="orderlist-item">
			<div class="no">2015123819238123</div>
			<div class="money">
				<span class="detail"><a href="">查看详情</a></span>
				<span class="gray">金额:</span>￥398.00
			</div>
			<div class="time"><span class="gray">时间:</span>2015-11-11 11:11:11</div>
			<div class="product">
				<img src="__PUBLIC__/images/product-test.jpg" />
				
				<span class="right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
			</div>
			<div class="status">
				订单状态：<span class="red">已发货</span>  <a href="" class="btn">确认收货</a>
			</div>
			
		</div>
	</div>
	
	<div class="footer-blank"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
		</ul>
	</div>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>