<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <title></title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	
	<link href="__PUBLIC__/css/store.css?blcldd" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		商城首页
		<span class="left">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
		<span class="right">
			<a href=""><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="ucenter-main">
		<div class="uc-header">
			<table>
				<tr>
					<td>
						<img src="__PUBLIC__/images/product-test.jpg" class="headimg" />
						<div class="level">♀♂见习男神</div>
					</td>
					<td valign="top">
						<div class="nickname">阿拉丁龙哥</div>
						<div class="username">关注编码：qimiao1234</div>
						<div class="parent">奇妙天使：啦啦啦</div>
					</td>
				</tr>
			</table>
			<div class="bar">
				<ul>
					<li>累计拥挤：123</li>
					<li>累计拥挤：123</li>
				</ul>
			</div>
		</div>
		
		<div class="uc-list">
			<ul>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#9ed365;"></span>
						奇妙排行八卦
						<span class="badge">108+</span>
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#88abe4;"></span>
						奇妙排行八卦
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#5690df;"></span>
						奇妙排行八卦
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="uc-list">
			<ul>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#9ed365;"></span>
						奇妙排行八卦
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#64cbad;"></span>
						奇妙排行八卦
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-align-left left" aria-hidden="true" style="background:#f76a6a;"></span>
						奇妙排行八卦
						<span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="footer-blank"></div>
	<div class="footer">
		<ul>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
			<li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li><li>
				<a href="">
					<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					首页
				</a>
			</li>
		</ul>
	</div>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>